certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
Flask==2.0.2
Flask-Caching==1.10.1
Flask-Pydantic==0.9.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pydantic==1.8.2
python-dotenv==0.19.2
requests==2.26.0
typing-extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
